                                                  
<script type="text/art">
                              ----                             
                           ---=##=---                           
                         ---+%@@@@@+---                         
                     ---=+%@@@@@@@@@@%+=---                     
                 ----=*#@@@@@@@@@@@@@@@@#*=----                 
           -----==+#@@@@@@@@@%*==*%@@@@@@@@@#+==-----           
   ------====+*%@@@@@@@@@@%*=------=*%@@@@@@@@@@%*+====------   
   --%@@@@@@@@@@@@@@@@@%+--------------+%@@@@@@@@@@@@@@@@@%--   
   --%@@@@@@@@@@@@@#+==--------##--------==+#@@@@@@@@@@@@@%--   
   --*@@@@@@%#*++=-----------=%@@%=-----------=++*#%@@@@@@*--   
    -=@@@@@*----------------=%@@@@%=----------------*@@@@@=-    
    --#@@@@@=--------------=%@@@@@@%=--------------=@@@@@#--    
    --=@@@@@*-------------=@@@@@@@@@@=-------------*@@@@@=-     
     --#@@@@@=-----------+@@@@@@@@@@@@=-----------=@@@@@#--     
      -=@@@@@#----------*@@@@@@@@@@@@@@*----------#@@@@@=-      
      --*@@@@@+--------*%%@@@@@@@@@@@@%%*--------+@@@@@*--      
       --%@@@@@=---------+@@@@@@@@@@@@+---------=@@@@@%--       
       --=@@@@@%=-------=@@@@@@@@@@@@@@=-------=%@@@@@=--       
        --+@@@@@%------=@@@@@@@@@@@@@@@@=-----=#@@@@@+--        
         --*@@@@@#----=@@@@@@@@@@@@@@@@@@=----#@@@@@*--         
          --*@@@@@#---++++===@@@@@@===++++---#@@@@@*--          
           --*@@@@@%=--------@@@@@@--------=%@@@@@*--           
            --*@@@@@%=-------@@@@@@-------=%@@@@@*--            
             --+@@@@@@+------%@@@@%------+@@@@@@+--             
              --=@@@@@@%=--------------=%@@@@@@=--              
               =-=#@@@@@@*------------*@@@@@@#=-=               
                 --+@@@@@@@*--------*@@@@@@@+--                 
                  --=*@@@@@@@#=--=#@@@@@@@*=--                  
                    --=#@@@@@@@%%@@@@@@@#=--                    
                      --=*@@@@@@@@@@@@*=--                      
                        ---=%@@@@@@%=---                        
                          ---=+##+=---                          
                             ------                                      
  </script>